* {
    padding: 0;
    margin: 0;
}
.logo img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 30px;
}
.logo{
    display: flex;
    margin-left: 15px;
    align-items: center;
}

.header {
    justify-content: space-between;
    display: flex;
    background-color: rgb(179, 179, 179);
    align-items: center;
}
.navigate {
    justify-content: space-evenly;
    width: 500px;
    display: flex;
}

.social img {
    width: 35px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 50px;
}


.pic {
    background-color: bisque;
    /* width: 50%; */
    border-radius: 10px 0 0 10px;
    height: 500px;
}
.pic img {
    /* width: 500px; */
    height: 400px;
}

.stack {
    
}

.card-row {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.card{
    
}

.card img {
    width: 200px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.container-2 h1 {
    margin-bottom: 50px;
}